<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="labEnviroController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <labEnviroController.Properties.Settings>
            <setting name="maxTemp" serializeAs="String">
                <value>25.5</value>
            </setting>
            <setting name="minTemp" serializeAs="String">
                <value>24.5</value>
            </setting>
            <setting name="maxHumidity" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="minHumidity" serializeAs="String">
                <value>45</value>
            </setting>
        </labEnviroController.Properties.Settings>
    </userSettings>
</configuration>